<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>S3 Upload</title>
</head>
<body>
    <h1>S3 파일 업로드 및 다운로드</h1>
    <input type="file" id="fileInput">
    <button onclick="uploadFile()">업로드</button>

    <h2>파일 다운로드</h2>
    <input type="text" id="fileNameInput" placeholder="파일 이름">
    <button onclick="downloadFile()">다운로드</button>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:inline="javascript">

    let userId = "사용자1";

    async function uploadFile() {
        const fileInput = document.getElementById('fileInput');
        const formData = new FormData();
        formData.append('file', fileInput.files[0]);
        formData.append('userId', userId);
        const response = await fetch('/api/s3/upload', {
            method: 'POST',
            body: formData
        });

        const result = await response.text();
        alert(result);
    }

    async function downloadFile() {
        const fileName = document.getElementById('fileNameInput').value;
        const response = await fetch(`/api/s3/download/${userId}/${fileName}`);

        if (response.ok) {
            const blob = await response.blob();
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = fileName;
            document.body.appendChild(a);
            a.click();
            a.remove();
        } else {
            alert("파일을 찾을 수 없습니다.");
        }
    }
</script>
</body>
</html>