#Gradle files
.gradle/
build/

#Applcation config
application.properties

#Test output
test-result/
reports/

#Build artifacts
*.jar
*.war

#Temporary files
*.tmp
*.temp

#Log file
logs/
*.log

# IDE
out/

# gradle-wrapper.jar
!gradle-wrapper.jar