<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>결제위젯 샘플</title>
    <!-- Toss Payments SDK CDN -->
    <script src="https://js.tosspayments.com/v1"></script>
</head>
<body>
<div class="wrapper w-100">
    <div class="max-w-540 w-100">
        <div id="payment-method" class="w-100"></div>
        <div id="agreement" class="w-100"></div>
        <div class="btn-wrapper w-100">
            <button onclick="openPayment('CARD')" class="btn primary w-100">일반결제</button>
            <button onclick="openPayment('TOSSPAY')" class="btn primary w-100">토스페이</button>
            <button onclick="openPayment('VIRTUAL_ACCOUNT')" class="btn primary w-100">가상계좌</button>
            <button onclick="openPayment('TRANSFER')" class="btn primary w-100">계좌이체</button>
            <button onclick="openPayment('MOBILE_PHONE')" class="btn primary w-100">휴대폰 결제</button>
            <button onclick="openPayment('CULTURE_GIFT_CERTIFICATE')" class="btn primary w-100">문화상품권</button>
            <button onclick="openPayment('BOOK_GIFT_CERTIFICATE')" class="btn primary w-100">도서문화상품권</button>
            <button onclick="openPayment('GAME_GIFT_CERTIFICATE')" class="btn primary w-100">게임문화상품권</button>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:inline="javascript">
    // ------ 클라이언트 키로 객체 초기화 ------
        const clientKey = [[${tossClientApiKey}]];
        const tossPayments = TossPayments(clientKey);

    // ------ 결제창 띄우기 ------
        function openPayment(method){
            tossPayments.requestPayment(method, { // 결제수단 파라미터 (카드, 계좌이체, 가상계좌, 휴대폰 등)
                // 결제 정보 파라미터
                // 더 많은 결제 정보 파라미터는 결제창 Javascript SDK에서 확인하세요.
                // https://docs.tosspayments.com/reference/js-sdk
                amount: 100, // 결제 금액
                orderId: Math.random().toString(36).slice(2), // 주문 ID(주문 ID는 상점에서 직접 만들어주세요.)
                orderName: '견적 결제', // 주문명
                customerName: '구매자 이름', // 구매자 이름
                successUrl: window.location.origin + '/payment/success', // 결제 성공 시 이동할 페이지
                failUrl: window.location.origin + '/payment/fail', // 결제 실패 시 이동할 페이지
            })
                // ------결제창을 띄울 수 없는 에러 처리 ------
                // 메서드 실행에 실패해서 reject 된 에러를 처리하는 블록입니다.
                // 결제창에서 발생할 수 있는 에러를 확인하세요.
                // https://docs.tosspayments.com/reference/error-codes#결제창공통-sdk-에러
                .catch(function (error) {
                    if (error.code === 'USER_CANCEL') {
                        alert("사용자가 결제창을 닫았습니다.");
                        // 결제 고객이 결제창을 닫았을 때 에러 처리
                    } else if (error.code === 'INVALID_CARD_COMPANY') {
                        alert("유효하지 않은 카드입니다.");
                        // 유효하지 않은 카드 코드에 대한 에러 처리
                    } else {
                        alert("결제 요청에 실패했습니다: " + error.message);
                        // 일반 오류 알림
                    }
                });
        }




</script>
</body>

</html>
